<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    <h1>Heading <%= 5+5 %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo cupiditate qui, eum, perspiciatis hic facilis officiis recusandae, odit ex quis praesentium ipsam consequuntur aliquam quaerat suscipit. Voluptatum veniam facilis nam
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ad facilis tempore doloremque, autem facere velit vel omnis ratione vitae ipsam consequuntur perspiciatis itaque temporibus architecto, cum in non nostrum?
        Provident nostrum, explicabo magni expedita rerum deleniti harum magnam aliquam dolore id consectetur repellendus tempora, sunt, alias ut saepe facere quam delectus pariatur earum dolores odio! Nisi eveniet qui mollitia.
        Tempore, veritatis perspiciatis voluptatibus cupiditate veniam accusantium! Facilis quas dolore labore, illum architecto, accusamus molestiae harum autem atque totam est, vitae iste modi quam veniam provident pariatur ut tempora magni?
        Ullam dolore accusamus doloremque ut quibusdam molestias fuga, debitis earum distinctio, ipsum at, provident quae labore! Itaque non neque ratione ipsum exercitationem praesentium laudantium? Rerum tempora error sequi exercitationem omnis!
        Libero natus aut asperiores quisquam illo sit maxime non nam recusandae repudiandae accusantium, magni amet nihil impedit perferendis consequatur excepturi, eligendi odio quis optio adipisci, at quidem sunt incidunt? Velit?
    </p>
    
</body>
</html>