<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Project</Details></title>
</head>
<body>
    <h2>Creating new product</h2>
    <hr>
    <br>
    <form action="/products/post" method="post">
        <label for="name"><b>Product Name</b></label>
        <input type="text" id="name" name="name" placeholder="Product Name">
        <br>
        <br>
        <label for="price"><b>Product Price</b></label>            
        <input type="number" id="price" step="0.01" name="price" placeholder="Price">
        <br>
        <br>
        <label for="categories"><b>Select Category</b></label>
        <select name="categories" id="categories">
            <% categories.forEach(c => { %>
                <option value="<%= c %>"><%= c %></option>
            <% }); %>
        </select>
        <br>
        <br>
        <button type="submit">Create</button>
    </form>
</body>
</html>