<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret</title>
</head>
<body>
    <h1>Home Page</h1>
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, sed? Culpa eius iusto ipsam autem quaerat quasi corporis, optio ullam porro eos natus eligendi distinctio, modi repellendus iste necessitatibus praesentium?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos laudantium ipsam ullam, saepe placeat blanditiis veniam tenetur reiciendis, accusamus sit quam! Blanditiis autem officia iste consequatur tenetur aspernatur, praesentium inventore?
        Modi aut ducimus quaerat et culpa ipsam esse recusandae temporibus minus sint voluptate nesciunt nisi rem facilis aliquam eaque, facere sit. Sunt, molestias illum dolor sapiente error atque facere distinctio.
        </p>

        <br><br>
        <form action="/logout" method="POST">
            <button type="submit">Logout</button>
        </form>
    </div>
</body>
</html>