<% layout('/layouts/boilerplate') %>

<link rel="stylesheet" href="/stylesheets/stars.css" >


<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div style="width: 400px; height: 400px; border: 2px solid black; padding: 20px; border-radius: 10px;">
        <form action="/campgrounds/<%= foundCampground.id %>/review" method="POST" class="needs-validation" novalidate>
            <div class="mb-3">
                <!-- <label for="rating" class="form-label">Rating</label>
                <input type="range" class="form-range" name="rating" min="1" max="5" required> -->
                
                <fieldset class="starability-slot">
                    <legend>Rating:</legend>
                    <input type="radio" id="second-rate1" name="rating" value="1" />
                    <label for="second-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="second-rate2" name="rating" value="2" />
                    <label for="second-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="second-rate3" name="rating" value="3" />
                    <label for="second-rate3" title="Average">3 stars</label>
                    <input type="radio" id="second-rate4" name="rating" value="4" />
                    <label for="second-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="second-rate5" name="rating" value="5" />
                    <label for="second-rate5" title="Amazing">5 stars</label>
                  </fieldset>


            </div>
            <div class="mb-2">
                <label for="body" class="form-label">Review</label>
                <textarea class="form-control" name="body" rows="8" placeholder="Write review..." required></textarea>
            </div>
            <button type="submit" class="btn btn-success w-100">Submit</button>
        </form>
    </div>
</div>