<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
       <a href="/products"><h1>All Products</h1></a> 
    </div>
    <hr>
    <div>
        <a href="/farms"><h1>All Farms</h1></a> 
     </div>
</body>
</html>