<% layout('/layouts/boilerplate') %>

<div class="row justify-content-center">
    <h1 class="text-center mb-4">New Campground</h1>
    <div class="col-md-4"> <!-- Bootstrap will manage width -->
        <form action="/campgrounds/new" method="post" class="border p-4 needs-validation " novalidate enctype="multipart/form-data"> <!-- Added border and padding -->
            <div class="mb-3"> <!-- Margin bottom for spacing -->
                <label for="title" class="form-label">Enter Title:</label>
                <input type="text" class="form-control" name="title" id="title" placeholder="Title" required> 
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please Enter a Title
                </div>
            </div>
            <div class="mb-3"> <!-- Margin bottom for spacing -->
                <label for="location" class="form-label">Enter Location:</label>
                <input type="text" class="form-control" name="location" id="location" placeholder="Location" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please Enter a Location
                </div>
            </div>
            <div class="mb-3"> <!-- Margin bottom for spacing -->
                <label for="price" class="form-label">Enter Price:</label> 
                <input type="number" class="form-control" name="price" id="price" placeholder="Price" required> 
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please Enter a Valid Price
                </div>
            </div>
        


            <div class="mb-3">
                <label for="formFile" class="form-label">Upload Image:</label>
                <div class="custom-file">
                    <input class="custom-file-input" type="file" name="image" id="img" multiple required>
                    <label class="custom-file-label" for="img">Choose files</label>
                </div>
            </div>



            <div class="mb-3"> <!-- Margin bottom for spacing -->
                <label for="description" class="form-label">Enter Description:</label>
                <input type="text" class="form-control" name="description" id="description" placeholder="Description" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please Enter a Description
                </div>
            </div>
            <div class="d-flex justify-content-between"> <!-- Flexbox for button alignment -->
                <button type="submit" class="btn btn-primary">Submit</button> <!-- Styled button -->
                <a href="/campgrounds" class="btn btn-secondary">Cancel</a> <!-- Cancel button -->
            </div>
        </form>       
    </div>
</div>


