
/* *{
    background-color: aquamarine;
} */

body{
    background-color: #caf0f8;
}


h1{
    color: #023e8a;
}

/* #searchbar{
    background-color: #90e0ef;
} */

/* #login{
    background-color: #023e8a;
} */



/* .link{
    color: red;
} */

/* .heading2{
    color: orange;
} */

section span a{
    color: brown;
}

footer ul a{
    color: darkolivegreen;
}

h2 + button{
    background-color: blueviolet;
}

section> button{
    background-color: blueviolet;
}

input[type="search"] {
    background-color: brown;
}

button[id="login"] {
    background-color: firebrick;
}

#login:hover{
    background-color:orange ;
}

.postedBy:hover{
    background-color: aqua;
}

section button:active{
    background-color: orange;
}

#Adult:checked + label {
    background-color: rgb(9, 26, 148);
}

input:checked + label{
    color: red;
}

.post:nth-of-type(2n){
    background-color: rgba(236, 226, 218, 0.982);
}



.heading2{
    color: #000;
}

h2{
    color: orange;
}

#tryme:hover{
    background-color: beige;
}

button:hover{
    background-color: #60354c;
}

button{
    background-color: #023e8a;
}