
/* *{
    background-color: aquamarine;
} */

body{
    background-color: #caf0f8;
}

button{
    background-color: #0077b6;
    color: #03045e;
    font-size:medium;
}

h1{
    color: #023e8a;
}

/* #searchbar{
    background-color: #90e0ef;
} */

/* #login{
    background-color: #023e8a;
} */

#signup{
    background-color: #0096c7;
}

/* .link{
    color: red;
} */

.heading2{
    color: orange;
}

section span a{
    color: brown;
}

footer ul a{
    color: darkolivegreen;
}

h2 + button{
    background-color: blueviolet;
}

section> button{
    background-color: blueviolet;
}

input[type="search"] {
    background-color: brown;
}

button[id="login"] {
    background-color: firebrick;
}